<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        
    <ul class="nav nav-pills">
        <li role="presentation"><a href="@Url.Action("Index", "Home")" data-toggle="pill">Index</a></li>
        <li role="presentation"><a href="@Url.Action("Directives", "Home")" data-toggle="pill">Directives</a></li>
    </ul>

    @RenderBody()        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
